@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color: #0C1022;
}
h1,h2,h3,h4,p{color: #FFF;}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
}
.navbar a{
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navbar a.active,
.navbar a:hover{
    background: linear-gradient(45deg,#F06,#3CF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 700px;
}
.home-content h1{font-size: 56px;font-weight: 700; color: #FFF;}
.home-content h3{margin-top:-1.5%;font-size: 32px;font-weight: 700;}
.home-content p{margin-top:3%;font-size: 16px;font-weight: 500;}
.btn{
    margin-top: 6%;
    transition: .5s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border-radius: 40px;
    font-size: 19px;
    background: linear-gradient(45deg,#F06,#3CF,#F06);
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    filter: blur(0.1px);
    z-index: 1;
}
.btn:hover{
    background: linear-gradient(45deg,#F07,#5CF,#F07);
}
/*Avatar*/
.home-img{
    width: 410px;
    height: 410px;
}
.glowing-circle{
    margin-left: 50%;
}
.home-img .glowing-circle{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img .glowing-circle::after{
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0C1022;
    border-radius: 50%;
}
.glowing-circle .image{
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}
.glowing-circle span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#F06,#3CF);
    border-radius: 50%;
}
.glowing-circle span:nth-child(1){
    filter: blur(10px);
}
.image img{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 350px;
    object-fit: cover;
}
/*Skills Page*/
.skills{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -8%;
    padding: 0 10%;
    
}
.skills__inner{
    margin-top: 19%;
}
.web-skills{
    margin-top: 2%;
}
.sql-skills{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid linear-gradient(#F06,#3CF);
}
.sql-skills img {
    margin-right: 15px; 
}
.title{
    text-align: center;
    margin-top: 4%;
    border-bottom: 1px solid;
    border-image: linear-gradient(#F06, #3CF) 30;
}
.title {
    text-align: center;
    margin-top: 4%;
    border-bottom: 3px solid;
    border-image: linear-gradient(#F06, #3CF) 30;
}
.github-link{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:1591px){
    .glowing-circle{
        margin-left: 50%;
    }
}
@media(min-width: 390px){
    .glowing-circle{
        margin-left: 40%;
    }
}
